

:root {
  --my-enemy-x: 10px;
  --my-enemy-y: 10px;
  --my-enemy-width: 600px;
  --my-enemy-height: 600px;
  --my-enemy-z: 12345; 
  --solar-time: 15s;

  /* away toward left right */
  --my-enemy-movement: 'left';
}




.ellipse-path {
  fill: none;
  stroke: grey;
  stroke-width: 0
}


/* this should be my shot */
#planets {
position:absolute;
left:var(--my-enemy-x);
top:var(--my-enemy-y);
z-index:  var(--my-enemy-z);
height:  var(--my-enemy-height);
width: var(--my-enemy-width);
}











@keyframes star-rotate {
  0% {

    transform:  rotate(0deg);
  }
  

  100% {
    transform:  rotate(360deg);
  }
}


#star-spin {
  transform-origin: center;
  transform-box: fill-box;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: star-rotate;
}
