
@keyframes orbit-keyframes {
  0% {
    transform: scale(20%);
    opacity: 0.7;
  }

  50% {
    transform: scale(100%);
    opacity: 1;
  }

  100% {
    transform: scale(20%);
    opacity: 0.7;
  }
}


.orbit-3d {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: orbit-keyframes;
  opacity: 1
}

.ellipse-path {
  fill: none;
  stroke: grey;
  stroke-width: 0
}


/* this should be my shot */
#planets {
position:absolute;
left:var(--my-planet-x);
top:var(--my-planet-y);


z-index:  var(--my-planet-z);

height:  var(--my-planet-height);
width: var(--my-planet-width);
}