


/* Asuz Zenbook + Ipad Air are the problems */
:root {
 --input-nw-left:17px;
--input-nw-top:177px;
 --input-nw-width:17px;

  --input-n-left:17px;
 --input-n-width:17px;


 --input-padding-hor: 0px;
 --input-padding-ver: 0px;

 --arrow-margin-vert:0px;
  --arrow-margin-hor:0px;

}



#touch-boxes {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 30% 40% 30%;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1234566;
}

.input-box{
    opacity:0.3; 
}

#input-nw{ 
   /* background-color:red;  */
 
     /* padding-top:var(--input-padding-ver);
    padding-left:var(--input-padding-hor);  */

   /* margin-top:var(--arrow-margin-vert);
    margin-left:var(--arrow-margin-hor); */
/* width:66px;
    height:33px;
     */
   }
#input-n{ /* background-color:red; */ }
#input-ne{ 
  /* background-color:green;   */
}




#input-w{ 
   /* background-color:green;   */
  }
#input-shoot{}
#input-e{}
#input-se{}
#input-sw{}
#input-s{}






            #touch-arrows {
 
         display: grid; 


        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 30% 40% 30%;
        width: 100%;
        height: 100%;
        z-index: 12222;
        position: absolute;


      }















.an-arrow{
  width:24px;
  height:24px;
   opacity:0.4;
  position: relative;
  z-index:2147483555;
  margin-top:6px;
}




#arrow-nw{
  transform:rotate(-45deg); 
  /* margin-top:var(--arrow-margin-vert);
    margin-left:var(--arrow-margin-hor); */
    margin-left:6px;
}

#arrow-n{
  left: 50%;
    /* margin-top:var(--arrow-margin-vert); */
}

#arrow-ne{
    /* margin-right:var(--arrow-margin-hor);
  margin-top:var(--arrow-margin-vert); */
  transform:rotate(45deg); 
   margin-left:auto; 
  margin-right:6px;
}


#arrow-w{
   /* margin-left:var(--arrow-margin-hor); */
  transform:rotate(270deg);  
  left:0px;
  top:35%;
     margin-left:6px;
}

#arrow-e{
     /* margin-right:var(--arrow-margin-hor); */
  transform:rotate(90deg);  
  margin-left:auto;
    margin-right:6px;
  top:35%
}




#arrow-sw{
    /* margin-left:var(--arrow-margin-hor); */
  transform:rotate(225deg);  
  margin-top:auto;
   margin-left:6px;
      margin-bottom:6px;
}

#arrow-s{
    left: 50%;
   transform:rotate(180deg);  
   margin-top:auto;
   margin-bottom:6px;
}


#arrow-se{
     /* margin-right:var(--arrow-margin-hor); */
  transform:rotate(135deg);  
    margin-left:auto;
  margin-top:auto;
   margin-bottom:6px;

  margin-right:6px;
}



