    .dir-box > * {
        border: 1px solid rgb(96 139 168);
        width: 90px;
    }

.dir-box {

  width: 300px;
  display: flex;
  flex-flow: row wrap;

} 







.key-directions{
 --show-directions: block;
}


 @media (max-width:1023px) {
 .key-directions{
   --show-directions: none;
  }
} 

#desktop-dir {
  margin: 0 auto;
    display: var(--show-directions);
} 
