

:root {
  --scene-width: 1024px;
  --scene-height: 512px;

  --my-shot-x: -1000px;
  --my-shot-y: -1000px;
  --my-shot-width: 100;
  --my-shot-height: 100;

  --playing-width: 1024px;  
  --playing-height: 512px;
  --playing-margin-left: -178px;
  --playing-margin-top: -512px;


  --test-red:33;
  --test-green:128;
  --test-blue:128;
}



#the-draw{
 z-index: 333; 
}


#the-scene {
  display:none;
  margin: 0 auto;
  width:var(--scene-width);
  height:var(--scene-height);
  position: relative;
  background-color: rgb(23,23,23,0.92);
  overflow:hidden;
}

#desktop-dir {
  margin: 0 auto;
  display:none;
}
#playing-game {
   /* display:none;  */
  width:var(--playing-width);
  height:var(--playing-height);
  margin-left:var(--playing-margin-left);    /* remove */
  /* margin-top:var(--playing-margin-top); */
bottom:512px; 
  position: absolute;
  background-color: rgb(23,23,23,0.92);
  overflow:hidden;
}

