

.begin-mobile-desktop{
   --desktop-begin: inline;
 --mobile-begin: none;
}
@media (max-width:1023px) {
  .begin-mobile-desktop {
    --desktop-begin: none;
    --mobile-begin: inline;
  }
} 


:root {
  --scene-width: 1024px;
  --scene-height: 512px;


  --margin-left_px:0px;

  --scene-margin:0 auto;

  --my-shot-x: -1000px;
  --my-shot-y: -1000px;
  --my-shot-width: 100;
  --my-shot-height: 100;

  --playing-width: 1024px;
  --playing-height: 512px;



  --test-red: 33;
  --test-green: 128;
  --test-blue: 128;
  --collide-shake-angle: 0deg;
}


#the-scene {
  display: none;
     margin: 0 auto;  
         /* margin-left: var(--scene-margin); */
  width: var(--scene-width);
  height: var(--scene-height);
  position: relative;
  background-color: rgb(23, 23, 23, 0.92);
  overflow: hidden;
  transform: rotate(var(--collide-shake-angle));
  /* transform: rotate(270deg); */
}

#the-scene:fullscreen {
    width: 177px;
    height: 100vh;
    }




#the-draw {
  z-index: 333;
}



#playing-game {
  width: var(--playing-width);
  height: var(--playing-height);

  bottom: 512px;
  position: absolute;
  background-color: rgb(23, 23, 23, 0.92);
  overflow: hidden;
}