:root {
/* --z-an-arrow:           2147483555;
--z-start-mobile:       1234570;
--z-touch-boxes:        1234569;
--z-the-draw:           1234568;
--z-the-landing:        1234568;
--z-saturn-space:       1234567;
--z-star-space:         1234566;

--z-show-pylon:        933601;
--z-the-pyramids:       600;
--z-arrows-html:        500;
--z-pylon-html:        400;
--z-checkerboard-field: 300;
--z-the-sun:            200;
--z-sky-aperature:      100; */


--z-an-arrow:           2147483555;
--z-start-mobile:       1234570;
--z-touch-boxes:        1234569;
--z-the-draw:           1234568;
--z-the-landing:        1234568;
--z-saturn-space:       1234567;
--z-star-space:         1234566;
--z-show-pylon:        933601;
--z-the-pyramids:       444444;
--z-arrows-html:        12222;
--z-pylon-html:        12221;
--z-checkerboard-field: 955;
--z-the-sun:            44;
--z-sky-aperature:      1;


}