:root {
  --z-start-mobile:       90000000;    
  --z-touch-boxes:        10000000;    
  --z-an-arrow:           240; 
  --z-the-draw:           220;    
  --z-the-landing:        210;    
  --z-saturn-space:       200;    
  --z-star-space:         190;    
  --z-show-pylon:         180;    
  --z-the-saturn:         170;    
  --z-the-pyramids:       160;    
  --z-cracked-screen:     150;    
  --z-arrows-html:        140;    
  --z-pylon-html:         130;    
  --z-checkerboard-field: 120;       
  --z-the-sun:            110;        
  --z-sky-aperature:      100;       
}