


#the-landing {
   float:left; 
  /* display:block; */
  display:none;
  margin-left:0px; 
  margin-top:0px;
}

#land_nw {
  float:left; 
}

#land_ne {
  float:left; 
}
#land_sw {
  clear:left;
  float:left; 
}
#land_se {
  float:left; 
}

 
.west_line {
  background-image: url('../field/field.png');
  width: 512px;
  position: relative;
  left: 0px;
  height: 1px;
  transform: scaleX(-1);
}

.east_line {
  background-image: url('../field/field.png');
  width: 512px;
  position: relative;
  left: 0px;
  height: 1px;
}


