


#the-checkerboard{
  top:356px;
  left:64px;
   width:1024px;
   height:256px;
     /* position: absolute; */
         z-index: 9;
         /* display:none; */
}


.a_line {
  background-image: url('checkers.png');
 width: 1024px;
 position: relative;
 height: 1px;
}

#line0 {    background-position: -0px -0px; display:nxone}  /* -8 */
#line1 {    background-position: -0px -1px; display:nxone}  /* -10 */
#line2 {    background-position: -4px -2px; display:nxone}  /* -12 */
#line3 {    background-position: -0px -3px; display:nxone}  /* -16 */
#line4 {    background-position: -8px -4px; display:nxone}  /* -16 */
#line5 {    background-position: -4px -5px; display:nxone}  /* -16 */
#line6 {    background-position: -6px -6px; display:nxone} /* -28 */
#line7 {    background-position: -0px -7px; display:nxone} /* -28 */
#line8 {    background-position: -10px -8px; display:nxone} /* -36 */
#line9 {    background-position: -8px -9px; display:noxne} /* -36 */

#line10 {    background-position: -16px -10px; display:nxone}  /* -28 */
#line11 {    background-position: -16px -11px; display:nxone} /* -38 */
#line12 {    background-position: -8px -12px; display:noxne} /* -44 */
#line13 {    background-position: -20px -13px; display:nxone} /* -46 */
#line14 {    background-position: -28px -14px;} /* -44 */
#line15 {    background-position: -0px -15px;}  /* -38 */
#line16 {    background-position: -32px -16px;} /* -64 */
#line17 {    background-position: -28px -17px;} /* -52 */
#line18 {    background-position: -20px -18px;} /* -76 */
#line19 {    background-position: -8px -19px;} /* -58 */

#line20 {    background-position: -34px -20px;} /* -80 */
#line21 {    background-position: -16px -21px;} /* -56 */
#line22 {    background-position: -40px -22px;} /* -76 */
#line23 {    background-position: -16px -23px;} /* -96 */
#line24 {    background-position: -38px -24px;} /* -64 */
#line25 {    background-position: -8px -25px;} /* -82 */
#line26 {    background-position: -28px -26px;} /* -100 */
#line27 {    background-position: -48px -27px;}  /* -60 */
#line28 {    background-position: -10px -28px;} /* -76 */
#line29 {    background-position: -28px -29px;} /* -92 */

#line30 {    background-position: -46px -30px;} /* -108 */
#line31 {    background-position: 0px -31px;} /* -124 */
#line32 {    background-position: -16px -32px;}  /* -72 */
#line33 {    background-position: -32px -33px;} /* -86 */
#line34 {    background-position: -48px -34px;} /* -100*/
#line35 {    background-position: -64px -35px;} /* -114 */
#line36 {    background-position: -6px -36px;} /* -128 */
#line37 {    background-position: -20px -37px;} /* -142 */
#line38 {    background-position: -34px -38px;} /* -156 */
#line39 {    background-position: -48px -39px;}  /* -88 */

#line40 {    background-position: -62px -40px;} /* -100 */
#line41 {    background-position: -76px -41px;} /* -112 */
#line42 {    background-position: -4px -42px;} /* -124 */
#line43 {    background-position: -16px -43px;} /* -136 */
#line44 {    background-position: -28px -44px;} /* -148 */
#line45 {    background-position: -40px -45px;} /* -160 */
#line46 {    background-position: -52px -46px;} /* -172 */
#line47 {    background-position: -64px -47px;} /* -184 */
#line48 {    background-position: -76px -48px;} /* -196 */
#line49 {    background-position: -88px -49px;}  /* -106 */

#line50 {    background-position: -100px -50px;} /* -116 */
#line51 {    background-position: -8px -51px;} /* -126 */
#line52 {    background-position: -18px -52px;} /* -136 */
#line53 {    background-position: -28px -53px;} /* -146 */
#line54 {    background-position: -38px -54px;} /* -156 */
#line55 {    background-position: -48px -55px;} /* -166 */
#line56 {    background-position: -58px -56px;} /* -176 */
#line57 {    background-position: -68px -57px;} /* -186 */
#line58 {    background-position: -78px -58px;} /* -196 */
#line59 {    background-position: -88px -59px;} /* -206 */

#line60 {    background-position: -98px -60px;}  /* -216 */
#line61 {    background-position: -108px -61px;} /* -226 */
#line62 {    background-position: -118px -62px;} /* -236 */
#line63 {    background-position: -0px -63px;} /* -246 */
#line64 {    background-position: -8px -64px;} /* -256 */
#line65 {    background-position: -16px -65px;} /* -266 */
#line66 {    background-position: -24px -66px;}   /* -140 */
#line67 {    background-position: -32px -67px;}  /* -148 */
#line68 {    background-position: -40px -68px;}  /* -156 */
#line69 {    background-position: -48px -69px;}  /* -164 */

#line70 {    background-position: -56px -70px;} /* -172 */
#line71 {    background-position: -64px -71px;} /* -180 */
#line72 {    background-position: -72px -72px;} /* -188 */
#line73 {    background-position: -80px -73px;} /* -196 */
#line74 {    background-position: -88px -74px;} /* -204 */
#line75 {    background-position: -96px -75px;} /* -212 */
#line76 {    background-position: -104px -76px;} /* -220 */
#line77 {    background-position: -112px -77px;} /* -228 */
#line78 {    background-position: -120px -78px;} /* -236 */
#line79 {    background-position: -128px -79px;} /* -244 */

#line80 {    background-position: -136px -80px;} /* -252 */
#line81 {    background-position: -144px -81px;} /* -260 */
#line82 {    background-position: -152px -82px;} /* -268 */
#line83 {    background-position: -160px -83px;} /* -276  */
#line84 {    background-position: -168px -84px;} /* -284 */
#line85 {    background-position: -4px -85px;} /* -292 */
#line86 {    background-position: -10px -86px;} /* -300 */
#line87 {    background-position: -16px -87px;} /* -308 */
#line88 {    background-position: -22px -88px;} /* -316 */
#line89 {    background-position: -28px -89px;} /* -324 */

#line90 {    background-position: -34px -90px;} /* -332 */
#line91 {    background-position: -40px -91px;} /* -340 */
#line92 {    background-position: -46px -92px;} /* -348 */
#line93 {    background-position: -52px -93px;} /* -356 */
#line94 {    background-position: -58px -94px;} /* -364 */
#line95 {    background-position: -64px -95px;} /* -372 */
#line96 {    background-position: -70px -96px;} /* -380 */
#line97 {    background-position: -76px -97px;} /* -388 */
#line98 {    background-position: -82px -98px;} /* -396 */
#line99 {    background-position: -88px -99px;} /* -404 */

#line100 {    background-position: -94px -100px;}  /* -8 */
#line101 {    background-position: -100px -101px;}  /* -10 */
#line102 {    background-position: -106px -102px;}  /* -12 */
#line103 {    background-position: -112px -103px;}  /* -16 */
#line104 {    background-position: -118px -104px;}  /* -16 */
#line105 {    background-position: -124px -105px;}  /* -16 */
#line106 {    background-position: -130px -106px;} /* -28 */
#line107 {    background-position: -136px -107px;} /* -28 */
#line108 {    background-position: -142px -108px;} /* -36 */
#line109 {    background-position: -148px -109px;} /* -36 */

#line110 {    background-position: -154px -110px;}  /* - */
#line111 {    background-position: -160px -111px;}  /* - */
#line112 {    background-position: -166px -112px;}  /* - */
#line113 {    background-position: -172px -113px;}  /* - */
#line114 {    background-position: -178px -114px;}  /* - */
#line115 {    background-position: -184px -115px;}  /* - */
#line116 {    background-position: -190px -116px;} /* - */
#line117 {    background-position: -196px -117px;} /* -432 */
#line118 {    background-position: -202px -118px;} /* -440 */
#line119 {    background-position: -208px -119px;} /* -448 */

#line120 {    background-position: -214px -120px;}  /* -456 */
#line121 {    background-position: -220px -121px;}  /* -464 */
#line122 {    background-position: -226px -122px;}  /* -472 */
#line123 {    background-position: -232px -123px;}  /* -480 */
#line124 {    background-position: -238px -124px;}  /* -488 */
#line125 {    background-position: -244px -125px;}  /* -496 */
#line126 {    background-position: -250px -126px;} /* -504 */
#line127 {    background-position: 0px -127px;} /* -256 */

/*  xxxxxxxxxxxxxxxxxxxxxxxx  */

#line128 {    background-position: -4px -128px;}  /* -8 */
#line129 {    background-position: -8px -129px;}  /* -10 */


#line130 {    background-position: -12px -130px;}  /* -12 */
#line131 {    background-position: -16px -131px;}  /* -16 */
#line132 {    background-position: -20px -132px;}  /* -16 */
#line133 {    background-position: -24px -133px;}  /* -16 */
#line134 {    background-position: -28px -134px;} /* -28 */
#line135 {    background-position: -32px -135px;} /* -28 */
#line136 {    background-position: -36px -136px;} /* -36 */
#line137 {    background-position: -40px -137px;} /* -36 */
#line138 {    background-position: -44px -138px;} /* -36 */
#line139 {    background-position: -48px -139px;} /* -36 */

#line140 {    background-position: -52px -140px;}  /* -28 */
#line141 {    background-position: -56px -141px;} /* -38 */
#line142 {    background-position: -60px -142px;} /* -44 */
#line143 {    background-position: -64px -143px;} /* -46 */
#line144 {    background-position: -68px -144px;} /* -44 */
#line145 {    background-position: -72px -145px;}  /* -38 */
#line146 {    background-position: -76px -146px;} /* -64 */
#line147 {    background-position: -80px -147px;} /* -52 */
#line148 {    background-position: -84px -148px;} /* -76 */
#line149 {    background-position: -88px -149px;} /* -58 */


#line150 {    background-position: -92px -150px;}  /* -28 */
#line151 {    background-position: -96px -151px;} /* -38 */
#line152 {    background-position: -100px -152px;} /* -44 */
#line153 {    background-position: -104px -153px;} /* -46 */
#line154 {    background-position: -108px -154px;} /* -44 */
#line155 {    background-position: -112px -155px;}  /* -38 */
#line156 {    background-position: -116px -156px;} /* -64 */
#line157 {    background-position: -120px -157px;} /* -52 */
#line158 {    background-position: -124px -158px;} /* -76 */
#line159 {    background-position: -128px -159px;} /* -58 */




#line160 {    background-position: -132px -160px;}  /* -28 */
#line161 {    background-position: -136px -161px;} /* -38 */
#line162 {    background-position: -140px -162px;} /* -44 */
#line163 {    background-position: -144px -163px;} /* -46 */
#line164 {    background-position: -148px -164px;} /* -44 */
#line165 {    background-position: -152px -165px;}  /* -38 */
#line166 {    background-position: -156px -166px;} /* -64 */
#line167 {    background-position: -160px -167px;} /* -52 */
#line168 {    background-position: -164px -168px;} /* -76 */
#line169 {    background-position: -168px -169px;} /* -58 */



#line170 {    background-position: -172px -170px;}  /* -28 */
#line171 {    background-position: -176px -171px;} /* -38 */
#line172 {    background-position: -180px -172px;} /* -44 */
#line173 {    background-position: -184px -173px;} /* -46 */
#line174 {    background-position: -188px -174px;} /* -44 */
#line175 {    background-position: -192px -175px;}  /* -38 */
#line176 {    background-position: -196px -176px;} /* -64 */
#line177 {    background-position: -200px -177px;} /* -52 */
#line178 {    background-position: -204px -178px;} /* -76 */
#line179 {    background-position: -208px -179px;} /* -58 */



#line180 {    background-position: -212px -180px;}  /* -28 */
#line181 {    background-position: -216px -181px;} /* -38 */
#line182 {    background-position: -220px -182px;} /* -44 */
#line183 {    background-position: -224px -183px;} /* -46 */
#line184 {    background-position: -228px -184px;} /* -44 */
#line185 {    background-position: -232px -185px;}  /* -38 */
#line186 {    background-position: -236px -186px;} /* -64 */
#line187 {    background-position: -240px -187px;} /* -52 */
#line188 {    background-position: -244px -188px;} /* -76 */
#line189 {    background-position: -248px -189px;} /* -58 */



#line190 {    background-position: -252px -190px;}  /* -28 */
#line191 {    background-position: -256px -191px;} /* -38 */
#line192 {    background-position: -260px -192px;} /* -44 */
#line193 {    background-position: -264px -193px;} /* -46 */
#line194 {    background-position: -268px -194px;} /* -44 */
#line195 {    background-position: -272px -195px;}  /* -38 */
#line196 {    background-position: -276px -196px;} /* -64 */
#line197 {    background-position: -280px -197px;} /* -52 */
#line198 {    background-position: -284px -198px;} /* -76 */
#line199 {    background-position: -288px -199px;} /* -58 */




#line200 {    background-position: -292px -200px;}  /* -8 */
#line201 {    background-position: -296px -201px;}  /* -10 */
#line202 {    background-position: -300px -202px;}  /* -12 */
#line203 {    background-position: -304px -203px;}  /* -16 */
#line204 {    background-position: -308px -204px;}  /* -16 */
#line205 {    background-position: -312px -205px;}  /* -16 */
#line206 {    background-position: -316px -206px;} /* -28 */
#line207 {    background-position: -320px -207px;} /* -28 */
#line208 {    background-position: -324px -208px;} /* -36 */
#line209 {    background-position: -328px -209px;} /* -36 */

#line210 {    background-position: -332px -210px;}  /* -28 */
#line211 {    background-position: -336px -211px;} /* -38 */
#line212 {    background-position: -340px -212px;} /* -44 */
#line213 {    background-position: -344px -213px;} /* -46 */
#line214 {    background-position: -348px -214px;} /* -44 */
#line215 {    background-position: -352px -215px;}  /* -38 */
#line216 {    background-position: -356px -216px;} /* -64 */
#line217 {    background-position: -360px -217px;} /* -52 */
#line218 {    background-position: -364px -218px;} /* -76 */
#line219 {    background-position: -368px -219px;} /* -58 */

#line220 {    background-position: -372px -220px;} /* -80 */
#line221 {    background-position: -376px -221px;} /* -56 */
#line222 {    background-position: -380px -222px;} /* -76 */
#line223 {    background-position: -384px -223px;} /* -96 */
#line224 {    background-position: -388px -224px;} /* -64 */
#line225 {    background-position: -392px -225px;} /* -82 */
#line226 {    background-position: -396px -226px;} /* -100 */
#line227 {    background-position: -400px -227px;}  /* -60 */
#line228 {    background-position: -404px -228px;} /* -76 */
#line229 {    background-position: -408px -229px;} /* -92 */

#line230 {    background-position: -412px -230px;} /* -108 */
#line231 {    background-position: -416px -231px;} /* -124 */
#line232 {    background-position: -420px -232px;}  /* -72 */
#line233 {    background-position: -424px -233px;} /* -86 */
#line234 {    background-position: -428px -234px;} /* -100*/
#line235 {    background-position: -432px -235px;} /* -114 */
#line236 {    background-position: -436px -236px;} /* -128 */
#line237 {    background-position: -440px -237px;} /* -142 */
#line238 {    background-position: -444px -238px;} /* -156 */
#line239 {    background-position: -448px -239px;}  /* -88 */

#line240 {    background-position: -452px -240px;} /* -100 */
#line241 {    background-position: -456px -241px;} /* -112 */
#line242 {    background-position: -460px -242px;} /* -124 */
#line243 {    background-position: -464px -243px;} /* -136 */
#line244 {    background-position: -468px -244px;} /* -148 */
#line245 {    background-position: -472px -245px;} /* -160 */
#line246 {    background-position: -476px -246px;} /* -172 */
#line247 {    background-position: -480px -247px;} /* -184 */
#line248 {    background-position: -484px -248px;} /* -196 */
#line249 {    background-position: -488px -249px;}  /* -106 */

#line250 {    background-position: -492px -250px;} /* -116 */
#line251 {    background-position: -496px -251px;} /* -126 */
#line252 {    background-position: -500px -252px;} /* -136 */
#line253 {    background-position: -504px -253px;} /* -146 */
#line254 {    background-position: -508px -254px;} /* -156 */
#line255 {    background-position: 0px -255px;} /* -166 */