#cube-x {
  background-image: url('colored-ball.png');
  width: 256px;
  height: 256px;
   position: absolute;
  z-index: 999;
  top:0px;
  left:0px;
       transform-origin: center center; 
  transform: scale(1) ;
  display: xnone;
  margin-left:0px;
  margin-top:0px;
}

#the-bullet {
  background-image: url('bullet.png');
  width: 256px;
  height: 256px;
   position: absolute;
  z-index: 999;
  top:0px;
  left:0px;
       transform-origin: center center; 
  transform: scale(1) ;
  display: xnone;
  margin-left:0px;
  margin-top:0px;
}