:root {
    --checkerboard-image: url("../area-1-jump/checker-board.png");
    --checkerboard-death: url("../area-1-jump/board-death.png");
}

.line-vars {
    --line0: url("../area-1-jump/checker-board.png");
    --line1: url("../area-1-jump/checker-board.png");
    --line2: url("../area-1-jump/checker-board.png");
    --line3: url("../area-1-jump/checker-board.png");
    --line4: url("../area-1-jump/checker-board.png");
    --line5: url("../area-1-jump/checker-board.png");
    --line6: url("../area-1-jump/checker-board.png");
    --line7: url("../area-1-jump/checker-board.png");
    --line8: url("../area-1-jump/checker-board.png");
    --line9: url("../area-1-jump/checker-board.png");
    --line10: url("../area-1-jump/checker-board.png");
    --line11: url("../area-1-jump/checker-board.png");
    --line12: url("../area-1-jump/checker-board.png");
    --line13: url("../area-1-jump/checker-board.png");
    --line14: url("../area-1-jump/checker-board.png");
    --line15: url("../area-1-jump/checker-board.png");
    --line16: url("../area-1-jump/checker-board.png");
    --line17: url("../area-1-jump/checker-board.png");
    --line18: url("../area-1-jump/checker-board.png");
    --line19: url("../area-1-jump/checker-board.png");
    --line20: url("../area-1-jump/checker-board.png");
    --line21: url("../area-1-jump/checker-board.png");
    --line22: url("../area-1-jump/checker-board.png");
    --line23: url("../area-1-jump/checker-board.png");
    --line24: url("../area-1-jump/checker-board.png");
    --line25: url("../area-1-jump/checker-board.png");
    --line26: url("../area-1-jump/checker-board.png");
    --line27: url("../area-1-jump/checker-board.png");
    --line28: url("../area-1-jump/checker-board.png");
    --line29: url("../area-1-jump/checker-board.png");
    --line30: url("../area-1-jump/checker-board.png");
    --line31: url("../area-1-jump/checker-board.png");
    --line32: url("../area-1-jump/checker-board.png");
    --line33: url("../area-1-jump/checker-board.png");
    --line34: url("../area-1-jump/checker-board.png");
    --line35: url("../area-1-jump/checker-board.png");
    --line36: url("../area-1-jump/checker-board.png");
    --line37: url("../area-1-jump/checker-board.png");
    --line38: url("../area-1-jump/checker-board.png");
    --line39: url("../area-1-jump/checker-board.png");
    --line40: url("../area-1-jump/checker-board.png");
    --line41: url("../area-1-jump/checker-board.png");
    --line42: url("../area-1-jump/checker-board.png");
    --line43: url("../area-1-jump/checker-board.png");
    --line44: url("../area-1-jump/checker-board.png");
    --line45: url("../area-1-jump/checker-board.png");
    --line46: url("../area-1-jump/checker-board.png");
    --line47: url("../area-1-jump/checker-board.png");
    --line48: url("../area-1-jump/checker-board.png");
    --line49: url("../area-1-jump/checker-board.png");
    --line50: url("../area-1-jump/checker-board.png");
    --line51: url("../area-1-jump/checker-board.png");
    --line52: url("../area-1-jump/checker-board.png");
    --line53: url("../area-1-jump/checker-board.png");
    --line54: url("../area-1-jump/checker-board.png");
    --line55: url("../area-1-jump/checker-board.png");
    --line56: url("../area-1-jump/checker-board.png");
    --line57: url("../area-1-jump/checker-board.png");
    --line58: url("../area-1-jump/checker-board.png");
    --line59: url("../area-1-jump/checker-board.png");
    --line60: url("../area-1-jump/checker-board.png");
    --line61: url("../area-1-jump/checker-board.png");
    --line62: url("../area-1-jump/checker-board.png");
    --line63: url("../area-1-jump/checker-board.png");
    --line64: url("../area-1-jump/checker-board.png");
    --line65: url("../area-1-jump/checker-board.png");
    --line66: url("../area-1-jump/checker-board.png");
    --line67: url("../area-1-jump/checker-board.png");
    --line68: url("../area-1-jump/checker-board.png");
    --line69: url("../area-1-jump/checker-board.png");
    --line70: url("../area-1-jump/checker-board.png");
    --line71: url("../area-1-jump/checker-board.png");
    --line72: url("../area-1-jump/checker-board.png");
    --line73: url("../area-1-jump/checker-board.png");
    --line74: url("../area-1-jump/checker-board.png");
    --line75: url("../area-1-jump/checker-board.png");
    --line76: url("../area-1-jump/checker-board.png");
    --line77: url("../area-1-jump/checker-board.png");
    --line78: url("../area-1-jump/checker-board.png");
    --line79: url("../area-1-jump/checker-board.png");
    --line80: url("../area-1-jump/checker-board.png");
    --line81: url("../area-1-jump/checker-board.png");
    --line82: url("../area-1-jump/checker-board.png");
    --line83: url("../area-1-jump/checker-board.png");
    --line84: url("../area-1-jump/checker-board.png");
    --line85: url("../area-1-jump/checker-board.png");
    --line86: url("../area-1-jump/checker-board.png");
    --line87: url("../area-1-jump/checker-board.png");
    --line88: url("../area-1-jump/checker-board.png");
    --line89: url("../area-1-jump/checker-board.png");
    --line90: url("../area-1-jump/checker-board.png");
    --line91: url("../area-1-jump/checker-board.png");
    --line92: url("../area-1-jump/checker-board.png");
    --line93: url("../area-1-jump/checker-board.png");
    --line94: url("../area-1-jump/checker-board.png");
    --line95: url("../area-1-jump/checker-board.png");
    --line96: url("../area-1-jump/checker-board.png");
    --line97: url("../area-1-jump/checker-board.png");
    --line98: url("../area-1-jump/checker-board.png");
    --line99: url("../area-1-jump/checker-board.png");

    --line100: url("../area-1-jump/checker-board.png");
    --line101: url("../area-1-jump/checker-board.png");
    --line102: url("../area-1-jump/checker-board.png");
    --line103: url("../area-1-jump/checker-board.png");
    --line104: url("../area-1-jump/checker-board.png");
    --line105: url("../area-1-jump/checker-board.png");
    --line106: url("../area-1-jump/checker-board.png");
    --line107: url("../area-1-jump/checker-board.png");
    --line108: url("../area-1-jump/checker-board.png");
    --line109: url("../area-1-jump/checker-board.png");
    --line110: url("../area-1-jump/checker-board.png");
    --line111: url("../area-1-jump/checker-board.png");
    --line112: url("../area-1-jump/checker-board.png");
    --line113: url("../area-1-jump/checker-board.png");
    --line114: url("../area-1-jump/checker-board.png");
    --line115: url("../area-1-jump/checker-board.png");
    --line116: url("../area-1-jump/checker-board.png");
    --line117: url("../area-1-jump/checker-board.png");
    --line118: url("../area-1-jump/checker-board.png");
    --line119: url("../area-1-jump/checker-board.png");
    --line120: url("../area-1-jump/checker-board.png");
    --line121: url("../area-1-jump/checker-board.png");
    --line122: url("../area-1-jump/checker-board.png");
    --line123: url("../area-1-jump/checker-board.png");
    --line124: url("../area-1-jump/checker-board.png");
    --line125: url("../area-1-jump/checker-board.png");
    --line126: url("../area-1-jump/checker-board.png");
    --line127: url("../area-1-jump/checker-board.png");
    --line128: url("../area-1-jump/checker-board.png");
    --line129: url("../area-1-jump/checker-board.png");
    --line130: url("../area-1-jump/checker-board.png");
    --line131: url("../area-1-jump/checker-board.png");
    --line132: url("../area-1-jump/checker-board.png");
    --line133: url("../area-1-jump/checker-board.png");
    --line134: url("../area-1-jump/checker-board.png");
    --line135: url("../area-1-jump/checker-board.png");
    --line136: url("../area-1-jump/checker-board.png");
    --line137: url("../area-1-jump/checker-board.png");
    --line138: url("../area-1-jump/checker-board.png");
    --line139: url("../area-1-jump/checker-board.png");
    --line140: url("../area-1-jump/checker-board.png");
    --line141: url("../area-1-jump/checker-board.png");
    --line142: url("../area-1-jump/checker-board.png");
    --line143: url("../area-1-jump/checker-board.png");
    --line144: url("../area-1-jump/checker-board.png");
    --line145: url("../area-1-jump/checker-board.png");
    --line146: url("../area-1-jump/checker-board.png");
    --line147: url("../area-1-jump/checker-board.png");
    --line148: url("../area-1-jump/checker-board.png");
    --line149: url("../area-1-jump/checker-board.png");
    --line150: url("../area-1-jump/checker-board.png");
    --line151: url("../area-1-jump/checker-board.png");
    --line152: url("../area-1-jump/checker-board.png");
    --line153: url("../area-1-jump/checker-board.png");
    --line154: url("../area-1-jump/checker-board.png");
    --line155: url("../area-1-jump/checker-board.png");
    --line156: url("../area-1-jump/checker-board.png");
    --line157: url("../area-1-jump/checker-board.png");
    --line158: url("../area-1-jump/checker-board.png");
    --line159: url("../area-1-jump/checker-board.png");
    --line160: url("../area-1-jump/checker-board.png");
    --line161: url("../area-1-jump/checker-board.png");
    --line162: url("../area-1-jump/checker-board.png");
    --line163: url("../area-1-jump/checker-board.png");
    --line164: url("../area-1-jump/checker-board.png");
    --line165: url("../area-1-jump/checker-board.png");
    --line166: url("../area-1-jump/checker-board.png");
    --line167: url("../area-1-jump/checker-board.png");
    --line168: url("../area-1-jump/checker-board.png");
    --line169: url("../area-1-jump/checker-board.png");
    --line170: url("../area-1-jump/checker-board.png");
    --line171: url("../area-1-jump/checker-board.png");
    --line172: url("../area-1-jump/checker-board.png");
    --line173: url("../area-1-jump/checker-board.png");
    --line174: url("../area-1-jump/checker-board.png");
    --line175: url("../area-1-jump/checker-board.png");
    --line176: url("../area-1-jump/checker-board.png");
    --line177: url("../area-1-jump/checker-board.png");
    --line178: url("../area-1-jump/checker-board.png");
    --line179: url("../area-1-jump/checker-board.png");
    --line180: url("../area-1-jump/checker-board.png");
    --line181: url("../area-1-jump/checker-board.png");
    --line182: url("../area-1-jump/checker-board.png");
    --line183: url("../area-1-jump/checker-board.png");
    --line184: url("../area-1-jump/checker-board.png");
    --line185: url("../area-1-jump/checker-board.png");
    --line186: url("../area-1-jump/checker-board.png");
    --line187: url("../area-1-jump/checker-board.png");
    --line188: url("../area-1-jump/checker-board.png");
    --line189: url("../area-1-jump/checker-board.png");
    --line190: url("../area-1-jump/checker-board.png");
    --line191: url("../area-1-jump/checker-board.png");
    --line192: url("../area-1-jump/checker-board.png");
    --line193: url("../area-1-jump/checker-board.png");
    --line194: url("../area-1-jump/checker-board.png");
    --line195: url("../area-1-jump/checker-board.png");
    --line196: url("../area-1-jump/checker-board.png");
    --line197: url("../area-1-jump/checker-board.png");
    --line198: url("../area-1-jump/checker-board.png");
    --line199: url("../area-1-jump/checker-board.png");

    --line200: url("../area-1-jump/checker-board.png");
    --line201: url("../area-1-jump/checker-board.png");
    --line202: url("../area-1-jump/checker-board.png");
    --line203: url("../area-1-jump/checker-board.png");
    --line204: url("../area-1-jump/checker-board.png");
    --line205: url("../area-1-jump/checker-board.png");
    --line206: url("../area-1-jump/checker-board.png");
    --line207: url("../area-1-jump/checker-board.png");
    --line208: url("../area-1-jump/checker-board.png");
    --line209: url("../area-1-jump/checker-board.png");
    --line210: url("../area-1-jump/checker-board.png");
    --line211: url("../area-1-jump/checker-board.png");
    --line212: url("../area-1-jump/checker-board.png");
    --line213: url("../area-1-jump/checker-board.png");
    --line214: url("../area-1-jump/checker-board.png");
    --line215: url("../area-1-jump/checker-board.png");
    --line216: url("../area-1-jump/checker-board.png");
    --line217: url("../area-1-jump/checker-board.png");
    --line218: url("../area-1-jump/checker-board.png");
    --line219: url("../area-1-jump/checker-board.png");
    --line220: url("../area-1-jump/checker-board.png");
    --line221: url("../area-1-jump/checker-board.png");
    --line222: url("../area-1-jump/checker-board.png");
    --line223: url("../area-1-jump/checker-board.png");
    --line224: url("../area-1-jump/checker-board.png");
    --line225: url("../area-1-jump/checker-board.png");
    --line226: url("../area-1-jump/checker-board.png");
    --line227: url("../area-1-jump/checker-board.png");
    --line228: url("../area-1-jump/checker-board.png");
    --line229: url("../area-1-jump/checker-board.png");
    --line230: url("../area-1-jump/checker-board.png");
    --line231: url("../area-1-jump/checker-board.png");
    --line232: url("../area-1-jump/checker-board.png");
    --line233: url("../area-1-jump/checker-board.png");
    --line234: url("../area-1-jump/checker-board.png");
    --line235: url("../area-1-jump/checker-board.png");
    --line236: url("../area-1-jump/checker-board.png");
    --line237: url("../area-1-jump/checker-board.png");
    --line238: url("../area-1-jump/checker-board.png");
    --line239: url("../area-1-jump/checker-board.png");
    --line240: url("../area-1-jump/checker-board.png");
    --line241: url("../area-1-jump/checker-board.png");
    --line242: url("../area-1-jump/checker-board.png");
    --line243: url("../area-1-jump/checker-board.png");
    --line244: url("../area-1-jump/checker-board.png");
    --line245: url("../area-1-jump/checker-board.png");
    --line246: url("../area-1-jump/checker-board.png");
    --line247: url("../area-1-jump/checker-board.png");
    --line248: url("../area-1-jump/checker-board.png");
    --line249: url("../area-1-jump/checker-board.png");
    --line250: url("../area-1-jump/checker-board.png");
    --line251: url("../area-1-jump/checker-board.png");
    --line252: url("../area-1-jump/checker-board.png");
    --line253: url("../area-1-jump/checker-board.png");
    --line254: url("../area-1-jump/checker-board.png");
    --line255: url("../area-1-jump/checker-board.png");
}
