.line-vars {







  --line0: url('../planet-2-carom/checker-board.png');
  --line1: url('../planet-2-carom/checker-board.png');
  --line2: url('../planet-2-carom/checker-board.png');
  --line3: url('../planet-2-carom/checker-board.png');
  --line4: url('../planet-2-carom/checker-board.png');
  --line5: url('../planet-2-carom/checker-board.png');
  --line6: url('../planet-2-carom/checker-board.png');
  --line7: url('../planet-2-carom/checker-board.png');
  --line8: url('../planet-2-carom/checker-board.png');
  --line9: url('../planet-2-carom/checker-board.png');
  --line10: url('../planet-2-carom/checker-board.png');
  --line11: url('../planet-2-carom/checker-board.png');
  --line12: url('../planet-2-carom/checker-board.png');
  --line13: url('../planet-2-carom/checker-board.png');
  --line14: url('../planet-2-carom/checker-board.png');
  --line15: url('../planet-2-carom/checker-board.png');
  --line16: url('../planet-2-carom/checker-board.png');
  --line17: url('../planet-2-carom/checker-board.png');
  --line18: url('../planet-2-carom/checker-board.png');
  --line19: url('../planet-2-carom/checker-board.png');
  --line20: url('../planet-2-carom/checker-board.png');
  --line21: url('../planet-2-carom/checker-board.png');
  --line22: url('../planet-2-carom/checker-board.png');
  --line23: url('../planet-2-carom/checker-board.png');
  --line24: url('../planet-2-carom/checker-board.png');
  --line25: url('../planet-2-carom/checker-board.png');
  --line26: url('../planet-2-carom/checker-board.png');
  --line27: url('../planet-2-carom/checker-board.png');
  --line28: url('../planet-2-carom/checker-board.png');
  --line29: url('../planet-2-carom/checker-board.png');
  --line30: url('../planet-2-carom/checker-board.png');
  --line31: url('../planet-2-carom/checker-board.png');
  --line32: url('../planet-2-carom/checker-board.png');
  --line33: url('../planet-2-carom/checker-board.png');
  --line34: url('../planet-2-carom/checker-board.png');
  --line35: url('../planet-2-carom/checker-board.png');
  --line36: url('../planet-2-carom/checker-board.png');
  --line37: url('../planet-2-carom/checker-board.png');
  --line38: url('../planet-2-carom/checker-board.png');
  --line39: url('../planet-2-carom/checker-board.png');
  --line40: url('../planet-2-carom/checker-board.png');
  --line41: url('../planet-2-carom/checker-board.png');
  --line42: url('../planet-2-carom/checker-board.png');
  --line43: url('../planet-2-carom/checker-board.png');
  --line44: url('../planet-2-carom/checker-board.png');
  --line45: url('../planet-2-carom/checker-board.png');
  --line46: url('../planet-2-carom/checker-board.png');
  --line47: url('../planet-2-carom/checker-board.png');
  --line48: url('../planet-2-carom/checker-board.png');
  --line49: url('../planet-2-carom/checker-board.png');
  --line50: url('../planet-2-carom/checker-board.png');
  --line51: url('../planet-2-carom/checker-board.png');
  --line52: url('../planet-2-carom/checker-board.png');
  --line53: url('../planet-2-carom/checker-board.png');
  --line54: url('../planet-2-carom/checker-board.png');
  --line55: url('../planet-2-carom/checker-board.png');
  --line56: url('../planet-2-carom/checker-board.png');
  --line57: url('../planet-2-carom/checker-board.png');
  --line58: url('../planet-2-carom/checker-board.png');
  --line59: url('../planet-2-carom/checker-board.png');
  --line60: url('../planet-2-carom/checker-board.png');
  --line61: url('../planet-2-carom/checker-board.png');
  --line62: url('../planet-2-carom/checker-board.png');
  --line63: url('../planet-2-carom/checker-board.png');
  --line64: url('../planet-2-carom/checker-board.png');
  --line65: url('../planet-2-carom/checker-board.png');
  --line66: url('../planet-2-carom/checker-board.png');
  --line67: url('../planet-2-carom/checker-board.png');
  --line68: url('../planet-2-carom/checker-board.png');
  --line69: url('../planet-2-carom/checker-board.png');
  --line70: url('../planet-2-carom/checker-board.png');
  --line71: url('../planet-2-carom/checker-board.png');
  --line72: url('../planet-2-carom/checker-board.png');
  --line73: url('../planet-2-carom/checker-board.png');
  --line74: url('../planet-2-carom/checker-board.png');
  --line75: url('../planet-2-carom/checker-board.png');
  --line76: url('../planet-2-carom/checker-board.png');
  --line77: url('../planet-2-carom/checker-board.png');
  --line78: url('../planet-2-carom/checker-board.png');
  --line79: url('../planet-2-carom/checker-board.png');
  --line80: url('../planet-2-carom/checker-board.png');
  --line81: url('../planet-2-carom/checker-board.png');
  --line82: url('../planet-2-carom/checker-board.png');
  --line83: url('../planet-2-carom/checker-board.png');
  --line84: url('../planet-2-carom/checker-board.png');
  --line85: url('../planet-2-carom/checker-board.png');
  --line86: url('../planet-2-carom/checker-board.png');
  --line87: url('../planet-2-carom/checker-board.png');
  --line88: url('../planet-2-carom/checker-board.png');
  --line89: url('../planet-2-carom/checker-board.png');
  --line90: url('../planet-2-carom/checker-board.png');
  --line91: url('../planet-2-carom/checker-board.png');
  --line92: url('../planet-2-carom/checker-board.png');
  --line93: url('../planet-2-carom/checker-board.png');
  --line94: url('../planet-2-carom/checker-board.png');
  --line95: url('../planet-2-carom/checker-board.png');
  --line96: url('../planet-2-carom/checker-board.png');
  --line97: url('../planet-2-carom/checker-board.png');
  --line98: url('../planet-2-carom/checker-board.png');
  --line99: url('../planet-2-carom/checker-board.png');










  --line100: url('../planet-2-carom/checker-board.png');
  --line101: url('../planet-2-carom/checker-board.png');
  --line102: url('../planet-2-carom/checker-board.png');
  --line103: url('../planet-2-carom/checker-board.png');
  --line104: url('../planet-2-carom/checker-board.png');
  --line105: url('../planet-2-carom/checker-board.png');
  --line106: url('../planet-2-carom/checker-board.png');
  --line107: url('../planet-2-carom/checker-board.png');
  --line108: url('../planet-2-carom/checker-board.png');
  --line109: url('../planet-2-carom/checker-board.png');
  --line110: url('../planet-2-carom/checker-board.png');
  --line111: url('../planet-2-carom/checker-board.png');
  --line112: url('../planet-2-carom/checker-board.png');
  --line113: url('../planet-2-carom/checker-board.png');
  --line114: url('../planet-2-carom/checker-board.png');
  --line115: url('../planet-2-carom/checker-board.png');
  --line116: url('../planet-2-carom/checker-board.png');
  --line117: url('../planet-2-carom/checker-board.png');
  --line118: url('../planet-2-carom/checker-board.png');
  --line119: url('../planet-2-carom/checker-board.png');
  --line120: url('../planet-2-carom/checker-board.png');
  --line121: url('../planet-2-carom/checker-board.png');
  --line122: url('../planet-2-carom/checker-board.png');
  --line123: url('../planet-2-carom/checker-board.png');
  --line124: url('../planet-2-carom/checker-board.png');
  --line125: url('../planet-2-carom/checker-board.png');
  --line126: url('../planet-2-carom/checker-board.png');
  --line127: url('../planet-2-carom/checker-board.png');
  --line128: url('../planet-2-carom/checker-board.png');
  --line129: url('../planet-2-carom/checker-board.png');
  --line130: url('../planet-2-carom/checker-board.png');
  --line131: url('../planet-2-carom/checker-board.png');
  --line132: url('../planet-2-carom/checker-board.png');
  --line133: url('../planet-2-carom/checker-board.png');
  --line134: url('../planet-2-carom/checker-board.png');
  --line135: url('../planet-2-carom/checker-board.png');
  --line136: url('../planet-2-carom/checker-board.png');
  --line137: url('../planet-2-carom/checker-board.png');
  --line138: url('../planet-2-carom/checker-board.png');
  --line139: url('../planet-2-carom/checker-board.png');
  --line140: url('../planet-2-carom/checker-board.png');
  --line141: url('../planet-2-carom/checker-board.png');
  --line142: url('../planet-2-carom/checker-board.png');
  --line143: url('../planet-2-carom/checker-board.png');
  --line144: url('../planet-2-carom/checker-board.png');
  --line145: url('../planet-2-carom/checker-board.png');
  --line146: url('../planet-2-carom/checker-board.png');
  --line147: url('../planet-2-carom/checker-board.png');
  --line148: url('../planet-2-carom/checker-board.png');
  --line149: url('../planet-2-carom/checker-board.png');

  --line150: url('../planet-2-carom/checker-board.png');
  --line151: url('../planet-2-carom/checker-board.png');
  --line152: url('../planet-2-carom/checker-board.png');
  --line153: url('../planet-2-carom/checker-board.png');
  --line154: url('../planet-2-carom/checker-board.png');
  --line155: url('../planet-2-carom/checker-board.png');
  --line156: url('../planet-2-carom/checker-board.png');
  --line157: url('../planet-2-carom/checker-board.png');
  --line158: url('../planet-2-carom/checker-board.png');
  --line159: url('../planet-2-carom/checker-board.png');


  --line160: url('../planet-2-carom/checker-board.png');
  --line161: url('../planet-2-carom/checker-board.png');
  --line162: url('../planet-2-carom/checker-board.png');
  --line163: url('../planet-2-carom/checker-board.png');
  --line164: url('../planet-2-carom/checker-board.png');
  --line165: url('../planet-2-carom/checker-board.png');
  --line166: url('../planet-2-carom/checker-board.png');
  --line167: url('../planet-2-carom/checker-board.png');
  --line168: url('../planet-2-carom/checker-board.png');
  --line169: url('../planet-2-carom/checker-board.png');

  --line170: url('../planet-2-carom/checker-board.png');
  --line171: url('../planet-2-carom/checker-board.png');
  --line172: url('../planet-2-carom/checker-board.png');
  --line173: url('../planet-2-carom/checker-board.png');
  --line174: url('../planet-2-carom/checker-board.png');
  --line175: url('../planet-2-carom/checker-board.png');
  --line176: url('../planet-2-carom/checker-board.png');
  --line177: url('../planet-2-carom/checker-board.png');
  --line178: url('../planet-2-carom/checker-board.png');
  --line179: url('../planet-2-carom/checker-board.png');

  --line180: url('../planet-2-carom/checker-board.png');
  --line181: url('../planet-2-carom/checker-board.png');
  --line182: url('../planet-2-carom/checker-board.png');
  --line183: url('../planet-2-carom/checker-board.png');
  --line184: url('../planet-2-carom/checker-board.png');
  --line185: url('../planet-2-carom/checker-board.png');
  --line186: url('../planet-2-carom/checker-board.png');
  --line187: url('../planet-2-carom/checker-board.png');
  --line188: url('../planet-2-carom/checker-board.png');
  --line189: url('../planet-2-carom/checker-board.png');

  --line190: url('../planet-2-carom/checker-board.png');
  --line191: url('../planet-2-carom/checker-board.png');
  --line192: url('../planet-2-carom/checker-board.png');
  --line193: url('../planet-2-carom/checker-board.png');
  --line194: url('../planet-2-carom/checker-board.png');
  --line195: url('../planet-2-carom/checker-board.png');
  --line196: url('../planet-2-carom/checker-board.png');
  --line197: url('../planet-2-carom/checker-board.png');
  --line198: url('../planet-2-carom/checker-board.png');
  --line199: url('../planet-2-carom/checker-board.png');


  --line200: url('../planet-2-carom/checker-board.png');
  --line201: url('../planet-2-carom/checker-board.png');
  --line202: url('../planet-2-carom/checker-board.png');
  --line203: url('../planet-2-carom/checker-board.png');
  --line204: url('../planet-2-carom/checker-board.png');
  --line205: url('../planet-2-carom/checker-board.png');
  --line206: url('../planet-2-carom/checker-board.png');
  --line207: url('../planet-2-carom/checker-board.png');
  --line208: url('../planet-2-carom/checker-board.png');
  --line209: url('../planet-2-carom/checker-board.png');
  --line210: url('../planet-2-carom/checker-board.png');
  --line211: url('../planet-2-carom/checker-board.png');
  --line212: url('../planet-2-carom/checker-board.png');
  --line213: url('../planet-2-carom/checker-board.png');
  --line214: url('../planet-2-carom/checker-board.png');
  --line215: url('../planet-2-carom/checker-board.png');
  --line216: url('../planet-2-carom/checker-board.png');
  --line217: url('../planet-2-carom/checker-board.png');
  --line218: url('../planet-2-carom/checker-board.png');
  --line219: url('../planet-2-carom/checker-board.png');
  --line220: url('../planet-2-carom/checker-board.png');
  --line221: url('../planet-2-carom/checker-board.png');
  --line222: url('../planet-2-carom/checker-board.png');
  --line223: url('../planet-2-carom/checker-board.png');
  --line224: url('../planet-2-carom/checker-board.png');
  --line225: url('../planet-2-carom/checker-board.png');
  --line226: url('../planet-2-carom/checker-board.png');
  --line227: url('../planet-2-carom/checker-board.png');
  --line228: url('../planet-2-carom/checker-board.png');
  --line229: url('../planet-2-carom/checker-board.png');
  --line230: url('../planet-2-carom/checker-board.png');
  --line231: url('../planet-2-carom/checker-board.png');
  --line232: url('../planet-2-carom/checker-board.png');
  --line233: url('../planet-2-carom/checker-board.png');
  --line234: url('../planet-2-carom/checker-board.png');
  --line235: url('../planet-2-carom/checker-board.png');
  --line236: url('../planet-2-carom/checker-board.png');
  --line237: url('../planet-2-carom/checker-board.png');
  --line238: url('../planet-2-carom/checker-board.png');
  --line239: url('../planet-2-carom/checker-board.png');
  --line240: url('../planet-2-carom/checker-board.png');
  --line241: url('../planet-2-carom/checker-board.png');
  --line242: url('../planet-2-carom/checker-board.png');
  --line243: url('../planet-2-carom/checker-board.png');
  --line244: url('../planet-2-carom/checker-board.png');
  --line245: url('../planet-2-carom/checker-board.png');
  --line246: url('../planet-2-carom/checker-board.png');
  --line247: url('../planet-2-carom/checker-board.png');
  --line248: url('../planet-2-carom/checker-board.png');
  --line249: url('../planet-2-carom/checker-board.png');
  --line250: url('../planet-2-carom/checker-board.png');
  --line251: url('../planet-2-carom/checker-board.png');
  --line252: url('../planet-2-carom/checker-board.png');
  --line253: url('../planet-2-carom/checker-board.png');
  --line254: url('../planet-2-carom/checker-board.png');
  --line255: url('../planet-2-carom/checker-board.png');

}