



#the-draw{
  z-index: var(--z-the-draw);
  opacity:0.50;
  margin-left: var(--margin-left_px);
  top:0px;
  left:0px;
  position: absolute;
}



















#playing-game {

  width: var(--scene-width);
  height: var(--scene-height);

  bottom: 512px;
  position: absolute;
  background-color: rgb(23, 23, 23, 0.92);
  overflow: hidden;
}






#the-scene {
  display: none;
  margin: 0 auto;  
  width: var(--scene-width);
  height: var(--scene-height);
  position: relative;
  background-color: rgb(23, 23, 23, 0.92);
  overflow: hidden;
  transform: rotate(var(--collide-shake-angle));
}

#svg-arrows {
  display:none;
}

#star-space {
   z-index: var(--z-star-space);
      background: url('../images/plain-stars.png') no-repeat center;
      width:1024px;
      height:512px;
      position:absolute;
      opacity:0;
}
#saturn-space {
    z-index: var(--z-saturn-space);
      background: url('../images/plain-saturn.png') no-repeat center;
      width:1024px;
      height:512px;
      left:0px;
      position:absolute;
      opacity:1;
}


.begin-vars{
   --desktop-begin: inline;
 --mobile-begin: none;
}
@media (max-width:1023px) {
  .begin-vars {
    --desktop-begin: none;
    --mobile-begin: inline;
  }
} 
#begin-desktop{
  margin-top:46px;
  display: var(--desktop-begin);
}
#begin-mobile{
  margin-top:46px;
  display: var(--mobile-begin);
}



#click-to-begin{
  text-align:center;
    background: url('../images/begin-background.png') no-repeat center;
    height:166px;
}



#start-mobile {
   z-index: var(--z-start-mobile);

position:absolute;
display: none;
   line-height: 100%;

  font-size: 300%;
     display:none;
  font-family: sans-serif;
      width:100%;
      height: 100%;
      background-color:rgb(128,128,128,0.8);
}

#mobile-list {
    margin-top:16px;
    margin-left:32px;  
}


li:not(:last-of-type) {
  margin-bottom: 0.5em;
}



#enemy-area{
  position: absolute;
  top:0px;
  height:0px; 
   margin-left: var(--margin-left_px);
  background-color: rgba(218, 20, 225, 0)
}

#pylon-html{
  /* z-index: var(--z-pylon-html); 
  
  this caused the enemy star to always be in front of pylons !!
  
  
  */  

   top:0px;
  position: absolute;
  height:0px; 
     margin-left: var(--margin-left_px);
}


#missile-area{
  position: absolute;
  top:0px;
  height:0px; 
   margin-left: var(--margin-left_px);
  /* background-color: rgba(218, 20, 225, 0) */
}

/*    not the right place ?? */
#enemy-planets{
  /* position: relative; */
  height:0px; 
  /* background-color: rgba(218, 20, 225, 0) */
}

#missile-flames{
  /* position: relative; */
  height:0px; 
  /* background-color: rgba(218, 20, 225, 0) */
}

#pylons-svg {
  position:absolute;
  left:-333px;
  height:0px;
}



 


body {
  /* background-color: green; */
margin:0px;
}
