:root {


  --diamond-display-300: block;
  --diamond-display-301: block;

  --diamond-size-300: 0.1;
  --diamond-size-301: 0.8;

  --diamond-fill-300: green;
  --diamond-fill-301: blue;
}


.a-diamond {
  width: 20px;
  height: 20px;
}

#diamond-300 {
  display: var(--diamond-display-300);
  fill: var(--diamond-fill-300);
  transform: scale(var(--diamond-size-300)) rotate(45deg);
}

#diamond-301 {
  opacity: 0.5;
  display: var(--diamond-display-301);
  fill: var(--diamond-fill-301);
  transform: scale(var(--diamond-size-301));
}