.sun-vars {
  --ani-key-frame: var(--p-graphics-sun-animation);
}

.sky-vars {
  --sky-color: #0000ff;
}

@keyframes sun-keyframes {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
