
#the-pyramids {
 background-image: url('../images/black-pyramids.png');
  width: 1024px;
  height: 18px;
  position:absolute;
  bottom:0;
  z-index:444444;
    opacity: 0.5;
}




#the-sun {
  top:0px;
  background-image: url('../images/the-sun.png');
  width: 1024px;
  height: 512px;
  z-index: 44;
  position: absolute;
  opacity: 0.4;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  animation-name: sun-keyframes;
 }

 @keyframes sun-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




#the-sky {
  display:nXone;
  position: relative;
  margin-top:-1000px;
  margin-left:-555px;
  width: 2048px;
  height:2400px;
  background-size: 256px 256px;
   background-image: radial-gradient(#ffffff, #0000ff 75%); 
 
  transform: perspective(1536px) rotateX(-85deg);
}



#sky-aperature {
  width: 1024px;
  height: 256px;
  z-index: 1;
  background-color: red;
  overflow-x: hidden;
  overflow-y: hidden;
  position:relative;
}
